<ion-content>

    <div class="center pading-40">
        <img class="margin" src="../../assets/logo-250x90.png">
    </div>
    <form>
        <ion-item class="rounded">
            <ion-input></ion-input>
            <ion-icon name="person" slot="start" color="primary"></ion-icon>

        </ion-item>

        <ion-item class="rounded">
            <ion-input></ion-input>
            <ion-icon name="unlock" slot="start" color="primary"></ion-icon>

        </ion-item>

        <div class="center padding-25">
            <ion-button shape="round">LOGIN</ion-button>
        </div>

        <div class="center padding-top-115">
            <span class="margin color-grey">Esqueceu seu <span class="color-verde-base">Login/Senha?</span></span>
        </div>
        <div class="center padding-top-115">
            <span class="margin color-grey">Não tem uma conta?<span class="color-verde-base" routerLink="/register">Cadastrar</span></span>
        </div>

    </form>
</ion-content>
